/* Global */
*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Cabin", sans-serif; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

section {
  padding: 108px; }

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0; }

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: #AB1212;
  border-radius: 40%; }

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/276223/pexels-photo-276223.jpeg?cs=srgb&dl=pexels-pixabay-276223.jpg&fm=jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.splash i {
  font-size: 30px;
  background: #AB1212;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%; }

.page-title {
  color: #fff;
  font-size: 48px;
  margin: 48px 0 0 0;
  position: relative;
  font-family: "Roboto Condensed", sans-serif; }

.page-title::after {
  position: absolute;
  content: '';
  bottom: -24px;
  left: 50%;
  width: 120px;
  height: 10px;
  transform: translateX(-50%);
  background: #AB1212;
  border-radius: 40%; }

.page-subtitle {
  color: #fff;
  margin: 48px 0 0 0;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif; }

/* Intro */
.intro {
  background: #fff; }

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 24px;
  border-top: 1px solid;
  border-bottom: 1px solid; }

/* About */
.about {
  background: #f0f0f0; }

/* Skills */
[class^="skill-"] {
  position: relative; }

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: visible;
  z-index: 1; }

.skill-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s; }

.skill-image img:hover {
  transform: scale(1.2); }

.skill-right .skill-image {
  right: 0; }

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right; }

.skill-left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left; }

/* Gallery */
.picture {
  position: relative;
  width: 33%;
  height: 300px;
  display: inline-block; }

.picture::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 300px;
  top: 0;
  background: grey;
  opacity: 0.8;
  display: none; }

.picture:hover::after {
  display: block; }

.picture img {
  width: 100%;
  height: 100%;
  padding: 1px; }

.picture-inner-box {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s all; }

.picture-inner-box:hover {
  opacity: 1; }

.title-inner-box {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px; }

.see-more {
  color: #fff; }

button {
  background: orange;
  width: 100px;
  height: 40px;
  border-radius: 10%;
  font-size: 16px; }

/* Contact */
.contact {
  position: relative;
  display: inline-block;
  height: 600px; }

.contact .section-title {
  margin-top: -30%; }

form {
  position: absolute;
  background-color: #171717;
  width: 100%;
  height: auto;
  left: 0%; }

.form-title {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif; }

input {
  padding: 5px;
  margin: 5px 0;
  color: white;
  border: 1px solid #ccc;
  transition: .5s all; }

.page-footer {
  background-color: #242424;
  color: gold;
  width: 100%;
  position: absolute; }
